{
    "account": "",
    "client_id": None,
    "client_secret": None,
    "quota_project_id": "globant-api",
    "refresh_token": None
    "type": "authorized_user",
    "universe_domain": "googleapis.com"
}     